:root {
  --tempest-primary-50: #eef4ff;
  --tempest-primary-100: #cedbf1;
  --tempest-primary-200: #98add2;
  --tempest-primary-300: #5b74a5;
  --tempest-primary-400: #263f73;
  --tempest-primary-500: #03184b;
  --tempest-primary-600: #021546;
  --tempest-primary-700: #02123e;
  --tempest-primary-800: #031235;
  --tempest-primary-900: #05112b;
  --tempest-primary: var(--tempest-primary-500);
  --tempest-primary-hover: var(--tempest-primary-600);
  --tempest-primary-active: var(--tempest-primary-700);
  --tempest-primary-soft: var(--tempest-primary-50);
  --tempest-primary-soft-hover: var(--tempest-primary-100);
  --tempest-primary-on-soft: var(--tempest-primary-600);
  --tempest-primary-foreground: #ffffff;
  --tempest-text-on-primary: #ffffff;
  --tempest-focus-ring-color: #03184b;
  --tempest-selected-indicator: #03184b;
  --tempest-chart-sequential-1: #dde8fe;
  --tempest-chart-sequential-2: #acc8fe;
  --tempest-chart-sequential-3: #7aa7ff;
  --tempest-chart-sequential-4: #4983fc;
  --tempest-chart-sequential-5: #3567ce;
  --tempest-chart-sequential-6: #2b4e96;
  --tempest-chart-sequential-7: #25375a;
  --tempest-chart-diverging-1: #0e3ca1;
  --tempest-chart-diverging-2: #416eca;
  --tempest-chart-diverging-3: #7ba0e7;
  --tempest-chart-diverging-4: #bcd2f9;
  --tempest-chart-diverging-5: #e4e7ec;
  --tempest-chart-diverging-6: #e4cea5;
  --tempest-chart-diverging-7: #c39a46;
  --tempest-chart-diverging-8: #926b0d;
  --tempest-chart-diverging-9: #5d4302;
  --tempest-radius-xs: 4px;
  --tempest-radius-sm: 6px;
  --tempest-radius-md: 12px;
  --tempest-radius-lg: 16px;
  --tempest-radius-xl: 22px;
  --tempest-radius-2xl: 32px;
}
